body {
    background-color: #f8f9fa;
    padding: 20px;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    color: #007bff !important;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: #007bff !important;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 6px;
}

.navbar-nav .nav-link:hover {
    background-color:orangered;
    color: #fff !important;
}




 /* footer  */
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    bottom: 0;
    position:fixed;
}
.add-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
  }
  .navwid{
    max-width: 100%;
}
.rowwid{
    max-width: 60%;
}

  .btn{
    background: blue;
    color: white;
  }
  .btn:hover{
    background: orangered;
    color: white;
  }