body {
    background-color: #f8f9fa;
    padding: 20px;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    color: #007bff !important;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: #007bff !important;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 6px;
}

.navbar-nav .nav-link:hover {
    background-color:orangered;
    color: #fff !important;
}




 /* footer  */
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    bottom: 0;
    position:fixed;
}
 



.product-container{
    margin-top: 80px;
 }
.btn-primary{
    background: orangered;
    border-color: red;
}