body {
    background-color: #FFE5B4;
}
.signup-form {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn{
border-radius:10px;
}
.btn:hover {
background-color:orangered;
color: #fff !important;
border-radius: 10px;
}
.error {
    color: red;
    margin-top: 6px;
    margin-bottom: 6px;
}