



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin/allusers.css">
</head>
<body>

    <!-- Navigation Bar -->
    <%- include('components/nav') %>

     <!--   rating  -->

     <section>
        <div class="container product-container tabwid">
          <div cass="row mt-3">
            <% if (feedback.length==0) { %>
              <h3 class="text-center">No Feedback</h3>
             <% }else{ %>
          <table class="table mt-3">
          <thead>
          <tr>
            <th scope="col">USER NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">DISCRIPTION</th>
          </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < feedback.length; i++ ) { %>
              <tr>
                <td><%= feedback[i].dataValues.name %></td>
                <td><%= feedback[i].dataValues.email %></td>
                <td><%= feedback[i].dataValues.message %></td>
              </tr>
              <% } %>
         
        </tbody>
       </table>
       <% } %>
       </div>
       </section>
      
    

    <!-- Bootstrap JS and Popper.js (optional) -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>