<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- custom css file -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    
    

    <!-- home section starts -->

    <section class="home">

        <div class="content">
            <center><h1 class="title">WELCOME TO<span><BR></span><span>COMMUNITY KITCHEN</span> </h1></center>
            <br>
           
        </div>

        <div class="image">
            <center><img src="/images/get.gif" alt="" data-speed="-3" class="move"></center>
        </div>
        <div class="content">
        <center><a href="/user/login" class="btn">get started</a></center>
        </div>
    </section>


    <!-- home section ends -->

    <!-- GSAP CDN Link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

    <!-- custom js file -->
    <script src="/javascript/start.js"></script>
</body>
</html>