body {
  background-color: #FFE5B4;
}

/* navbar */

.navbar {
  background-color:rgba(255, 255, 255, 0.84) !important ;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.navbar-brand {
  color: #5b6bfa !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-nav .nav-link {
  color: #5b6bfa !important;
  font-size: 1.2rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
  background-color:orangered;
  color: #fff !important;
  border-radius: 10px;
}

/*body */
.profile-container {
  max-width: 800px;

  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
  margin-bottom: 60px;
  
}
.heading{
  text-align: center;
  color: #5b6bfa;
  font-size:60px;
  font-weight:650;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.details{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}
.login {
  text-align: center;
  margin-top: 20px;
}

.login a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dae8f594;
  color: rgb(48, 143, 233);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight:600;
}

.login a:hover {
  background-color: orangered;
  color: white;
}

    /* about */

.about{
height: 100%;
width: 0;
position:fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
overflow-x: hidden;
transition: 0.5s;
}
.about a{
padding: 60px;
text-align: right;
text-decoration: none;
font-size: 36px;
color: red;
display: block;
transition: 0.3s;
}
.about a:hover, .about a:focus{
color:#f1f1f1;

}
.about .closebtn{
position:abosolute;
top:20px;
right:45px;
font-size: 60px;

}
.about a .closebtn{
color:white;
}

.about-overlay h1{
text-align: center;
color: white;
font-size: 45px;

}
.about-overlay p{
text-align: center;
font-size: 18px;
color:white;

}

@media screen and (max-width: 768px) {
/* Responsive styles for smaller screens */


.about a {
padding: 20px;
font-size: 24px;
}

.about-overlay h1 {
font-size: 30px;
}

.about-overlay p {
font-size: 16px;
}

}

 /* footer  */
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    bottom: 0;
    position:fixed;
}