body {
    background-color: #FFE5B4;
}

/* navbar */
.navwid{
    max-width: 100%;
}

 

.form-inline input {
    border-radius: 15px; /* Add border-radius for a rounded input */
  }

  .btn-search {
    background-color: #3498db; /* Change the button background color */
    color: #f05454; /* Change the button text color */
    border-radius: 15px; /* Add border-radius for a rounded button */
  }

  .btn-search:hover {
    background-color: #2980b9; /* Change the button background color on hover */
  }

.navbar {
    background-color:#f5efdd !important;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #5b6bfa !important;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: #5b6bfa !important;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color:orangered;
    color: #fff !important;
    border-radius: 10px;
}

/*  body */

.product-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 60px;
    max-width: 90%;
}

.product-row {
    margin-bottom: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.product-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 15px;
}
.col{
    margin-bottom: 40px;
}


h4 {
    margin-top: 0;
}
.btn{
    border-radius:10px;
    color: #fff !important;
}
.btn:hover {
    background-color:orangered;
    color: #fff !important;
    border-radius: 10px;
}


/* about */

.about{
height: 100%;
width: 0;
position:fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
overflow-x: hidden;
transition: 0.5s;
}
.about a{
padding: 60px;
text-align: right;
text-decoration: none;
font-size: 36px;
color: red;
display: block;
transition: 0.3s;
}
.about a:hover, .about a:focus{
color:#f1f1f1;

}
.about .closebtn{
position:abosolute;
top:20px;
right:45px;
font-size: 60px;

}
.about a .closebtn{
color:white;
}

.about-overlay h1{
text-align: center;
color: white;
font-size: 45px;

}
.about-overlay p{
text-align: center;
font-size: 18px;
color:white;

}

@media screen and (max-width: 768px) {
/* Responsive styles for smaller screens */


.about a {
padding: 20px;
font-size: 24px;
}

.about-overlay h1 {
font-size: 30px;
}

.about-overlay p {
font-size: 16px;
}

}

/* footer  */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    bottom: 0;
}
