@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #ffffff;
}
img {
  height: 5;
  width: 30%;
}

.container{
  position: relative;
  width: 400px;
  background: #d6cfcf;
  padding: 20px 30px;
  border: 5px solid #ffffff;
  border-radius: 8px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #000000;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #ffffff;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #9f2b2b;
}
input:checked ~ label{
  color: #9f2b2b;
}
input#rate-5:checked ~ label{
  color: #9f2b2b;
 
}
#rate-1:checked ~ form header:before{
  content: "I just hate it \1F61E";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it \1F62C";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome \1F917";
}
#rate-4:checked ~ form header:before{
  content: "I just like it \1F60D";
}
#rate-5:checked ~ form header:before{
  content: "I just love it \1F929";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #000000;
  border: 1px solid #333;
  background: #ffffff;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #ffffff;
  color: #000000;
  font-size: 17px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #e7dede;
}
@media(max-width: 600px){
  
img{
  height: 80%;
  width: 80%;
}
}