@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
   
}
header{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color:#9f2b2b;
    padding: 12px 20px;
}


.logo img {width: 40px;}
.menu li a i{
    color: #FFF;
   
}

.brand{
    font-size: 150%;
    margin-left: 0%;
    
    font-style: bold;
    color: #fff;
    font-weight: 600;
}
.menu li button a{
    color: #9f2b2b;
}

.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.fa-user{
  margin-right: 0px;
  
}
.fa-solid,
.fas {
  font-weight:900;
  /*! background-color: #101010; */color: white;
  margin-right: 64px;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu  {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
 
    color: #FFF;
    
}
.close-menu  {
    top: 20px;
    right: 20px;
    
}


.fa-shopping-cart {
margin-left: 23px;
}

#check {display: none;}
@media(max-width: 600px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .open-menu  {
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
   
      color: #FFF;
      
  }
    .fa-user{
      margin-right: 1px;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
   
    .brand{
        color: #f9f4f4e5;
        font-size: 15px;
        font-weight: 600px;
        margin-right: 25%;
        
    }
    .menu li a i{
        color: #FFF;
        font-size: 500%;
    }
    .fa-solid,
.fas {
  font-weight:900;
  /*! background-color: #101010; */color: white;
  margin-right: 0px;
  margin-left: -45px;
  
}
.fa-bars {
  margin-right: -5px;
  margin-left: -14px;
}
.fa-user {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .menu > a:nth-child(2) {
    display: none;
  }
  
}
div.footer-col:nth-child(1) > ul:nth-child(2) {
    padding-left: 0px;
  }
  div.footer-col:nth-child(2) > ul:nth-child(2) {
    padding-left: 0px;
  }
  