img{
  width: 30%;
  height: 30%;
 }
 body > center:nth-child(1) > img:nth-child(1) {
  margin-bottom: -129px;
  margin-top: 0px;
}

  .orders-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    border-color: #9f2b2b;
  }

  .order-item {
    border-bottom: 1px solid #9f2b2b;
    border-radius: 10px;
    border-top:1px solid #9f2b2b ;
    border-left: 1px solid #9f2b2b;
    border-right: 1px solid #9f2b2b;
    padding: 10px 0;
  }

.order-item h4{
  margin-left: 25px;
  font-weight: bolder;
}

  .btn{
    border-radius:10px;
    }
    .btn:hover {
    background-color:#9f2b2b;
    color: #fff !important;
    border-radius: 10px;

    }
    .btn-primary {
      color:#fff;
      background-color:#9f2b2b;
      border-color:#9f2b2b ;
      /*! border-color:; */
    }
    


  body {
    background-color:#fff;
}

.exit{
  background: #fff;
  border-radius: 10%;
}
.exit:hover{
  background-color: #9f2b2b;
  color: #fff;
}

@media screen and (max-width: 768px) {
  img{
    width: 100%;
    height: 100%;
   }
/* Responsive styles for smaller screens */

}

 /* footer  */
 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    bottom: 0;
}

